* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px !important;
}


.breadcrumb {
    background-color: transparent !important;
}

.breadcrumb li a {
    color: #1B9C85;
}

.breadcrumb .active {
    font-weight: 700;
}

.content {
    margin: 50px;
}

.ratings{
    margin-right:10px;
}

.ratings i{
    color:#cecece;
}

.rating-color{
    color:#fbc634 !important;
}