<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ResetPassServlet</servlet-name>
        <servlet-class>controllers.ResetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>controllers.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeNewPasswordServlet</servlet-name>
        <servlet-class>controllers.ChangeNewPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productInfoServlet</servlet-name>
        <servlet-class>controllers.productInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>controllers.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaginatedServlet</servlet-name>
        <servlet-class>controllers.ShowPaginatedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaginateServlet</servlet-name>
        <servlet-class>controllers.ShowPaginateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showCategoriesServlet</servlet-name>
        <servlet-class>controllers.showCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controllers.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controllers.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductByCateGoryServlet</servlet-name>
        <servlet-class>controllers.ViewProductByCateGoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controllers.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>controllers.ViewCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSearchedProductsServlet</servlet-name>
        <servlet-class>controllers.GetSearchedProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controllers.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>controllers.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaginatedSearchedServlet</servlet-name>
        <servlet-class>controllers.ShowPaginatedSearchedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGuardServlet</servlet-name>
        <servlet-class>controllers.ViewGuardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewGuardDetailServlet</servlet-name>
        <servlet-class>controllers.ViewGuardDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>controllers.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSalesServlet</servlet-name>
        <servlet-class>controllers.ViewSalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSaleDetailServlet</servlet-name>
        <servlet-class>controllers.ViewSaleDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <servlet-class>controllers.VerifyEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomersServlet</servlet-name>
        <servlet-class>controllers.ViewCustomersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerDetailsServlet</servlet-name>
        <servlet-class>controllers.ViewCustomerDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyVoucherServlet</servlet-name>
        <servlet-class>controllers.ApplyVoucherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartConfirmationPageServlet</servlet-name>
        <servlet-class>controllers.CartConfirmationPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaginatedUsersServlet</servlet-name>
        <servlet-class>controllers.ShowPaginatedUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmEmailServlet</servlet-name>
        <servlet-class>controllers.ConfirmEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCartServlet</servlet-name>
        <servlet-class>controllers.ConfirmCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsersServlet</servlet-name>
        <servlet-class>controllers.SearchUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSaleDashboardServlet</servlet-name>
        <servlet-class>controllers.ViewSaleDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSaleOrdersServlet</servlet-name>
        <servlet-class>controllers.ManageSaleOrdersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeToAddPageServlet</servlet-name>
        <servlet-class>controllers.ChangeToAddPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <servlet-class>controllers.AddEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllProductsServlet</servlet-name>
        <servlet-class>controllers.ViewAllProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllCategoriesServlet</servlet-name>
        <servlet-class>controllers.ViewAllCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaginatedItemsServlet</servlet-name>
        <servlet-class>controllers.ShowPaginatedItemsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPassServlet</servlet-name>
        <url-pattern>/ResetPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeNewPasswordServlet</servlet-name>
        <url-pattern>/ChangeNewPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/ViewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPaginateServlet</servlet-name>
        <url-pattern>/ShowPaginateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductByCateGoryServlet</servlet-name>
        <url-pattern>/ViewProductByCateGoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSearchedProductsServlet</servlet-name>
        <url-pattern>/GetSearchedProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/UpdateCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/DeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPaginatedSearchedServlet</servlet-name>
        <url-pattern>/ShowPaginatedSearchedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGuardServlet</servlet-name>
        <url-pattern>/ViewGuardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewGuardDetailServlet</servlet-name>
        <url-pattern>/ViewGuardDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSalesServlet</servlet-name>
        <url-pattern>/ViewSalesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSaleDetailServlet</servlet-name>
        <url-pattern>/ViewSaleDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyEmailServlet</servlet-name>
        <url-pattern>/VerifyEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomersServlet</servlet-name>
        <url-pattern>/ViewCustomersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerDetailsServlet</servlet-name>
        <url-pattern>/ViewCustomerDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyVoucherServlet</servlet-name>
        <url-pattern>/ApplyVoucherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartConfirmationPageServlet</servlet-name>
        <url-pattern>/CartConfirmationPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPaginatedUsersServlet</servlet-name>
        <url-pattern>/ShowPaginatedUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmEmailServlet</servlet-name>
        <url-pattern>/ConfirmEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCartServlet</servlet-name>
        <url-pattern>/ConfirmCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsersServlet</servlet-name>
        <url-pattern>/SearchUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSaleDashboardServlet</servlet-name>
        <url-pattern>/ViewSaleDashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSaleOrdersServlet</servlet-name>
        <url-pattern>/ManageSaleOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeToAddPageServlet</servlet-name>
        <url-pattern>/ChangeToAddPageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployeeServlet</servlet-name>
        <url-pattern>/AddEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllProductsServlet</servlet-name>
        <url-pattern>/ViewAllProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllCategoriesServlet</servlet-name>
        <url-pattern>/ViewAllCategoriesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPaginatedItemsServlet</servlet-name>
        <url-pattern>/ShowPaginatedItemsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
